.page-body {
	width: 100% !important;
}

.btn-selected {
	background-color: #6b1515 !important;
	color: white !important;
}

#Collapsable {
	width: 0; /* Start width as 0 */
	overflow: hidden;
	transition: width 0.3s ease-in-out; /* Animate width change */
}

#Collapsable.show {
	width: 15%; /* Expand to 25% width */
}

.anchor-style {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bg-sidebar {
	background-color: #fff0f0;
}

.white-icon {
	filter: invert(100%) saturate(100%) sepia(100%) brightness(100%);
}

.drop-icon svg {
	transform: rotate(-90deg); /* Start as Left */
}
